body {
	background-color: white;
	background: #f8c23c url("../images/bg2.png"); 
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  	Helvetica, Arial, "Lucida Grande", sans-serif;
	margin-bottom: 100px;
  	padding: 0;
  	margin: 0;
  }

* {
	-webkit-font-smoothing: antialiased;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

h2 {
	margin: 0;
	padding: 0;
	color: #B98D14;
	font-size: 22px;
}

h3 {
	color: #B98D14;
	font-size: 18px;
	margin: 15px 20px 2px 0px;
}

p {
	margin: 0px 0 0 0;
	padding: 0;
	color: #92772C;
	font-size: 16px;
}

a {
	opacity: .8;
	-webkit-transition: all 0.2s ease;
	   -moz-transition: all 0.2s ease;
	    -ms-transition: all 0.2s ease;
	     -o-transition: all 0.2s ease;
	        transition: all 0.2s ease;
}

a:hover {
	opacity: 1;
}

em {
	font-weight: bold;
	font-style: normal;
}

.container {
	width: 960px;
	margin: 0 auto;
}


/*——— MAIN NAVIGATION ———*/



nav {
	height: 43px;
	width: 930px;
	background-color: #D6FAF2;
	padding: 10px 0;
	margin: 80px 15px -25px 15px;
}

nav ul {
	margin: 0;
	padding: 1px 0px;
	text-align: center;
}

nav li {
	display: inline-block;
	padding: 0px 60px 20px 60px;
	border-right: solid rgba(115, 149, 158, 0.2) 1px;
}

nav li:last-child {
	border-right: none;
}

nav a {
	font-family: "brandon-grotesque",sans-serif;
	font-weight: 700;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 16px;
	color: #65A092;
	text-decoration: none;
	-webkit-transition: all 0.3s ease;
	   -moz-transition: all 0.3s ease;
	    -ms-transition: all 0.3s ease;
	     -o-transition: all 0.3s ease;
	        transition: all 0.3s ease;
}

nav a:hover { 
	color: #2F6458;
}

span.tooltip {
      position: absolute;
      width: 100px;
      height: 20px;
      line-height: 20px;
      padding: 10px;
      font-size: 14px;
      text-align: center;
      color: rgb(30, 100, 84);
      background: rgb(255, 255, 255);
      border: 4px solid rgb(255, 255, 255);
      border-radius: 5px;
      text-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 1px;
      box-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 2px 0px;
}

span.tooltip:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-width: 10px;
      border-style: solid;
      border-color: #FFFFFF transparent transparent transparent;
      top: 44px;
      left: 50px;
}


/*——— CONFERENCE ———*/



.main-header {
	background-color: #fff;
	display: inline-block;
	box-shadow: 0 0 5px rgba(106, 34, 14, 0.29);
	margin: 0px 0 10px 0;
	padding: 70px;
}

.logo {
	width: 250px;
}

.intro {
	color: #4FC0A6;
	font-size: 21px;
	line-height: 1.4em;
	padding: 0px 0 0 0;
	font-weight: normal;
}

.intro span {
	font-family: "brandon-grotesque",sans-serif;
	font-style: normal;
	font-weight: 700;
	font-weight: bold;
	font-style: uppercase;
}

.date {
	text-align: center;
	text-transform: uppercase;
	color: #BDA156;
	width: 216px;
	font-size: 16px;
	line-height: 1.3em;
	margin: 40px auto;
	margin-bottom: 0;
	font-weight: normal;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.date span {
	font-weight: bold;
}

.button {
	font-family: "brandon-grotesque",sans-serif;
	font-style: normal;
	font-weight: 700;
	font-weight: bold;
	font-style: uppercase;
	float: left;
	padding: 20px 40px;
	border-radius: 5px;
	text-decoration: none;
	color: #6B5718;
	background-color: #DFB43F;
	-webkit-transition: all 0.2s ease;
	   -moz-transition: all 0.2s ease;
	    -ms-transition: all 0.2s ease;
	     -o-transition: all 0.2s ease;
	        transition: all 0.2s ease;
}

.button:hover {
	background-color: #DAAF3A;
}

.conf {
	margin-top: 30px;
}

.conf p {
	display: inline-block;
	width: 200px;
	padding: 9px;
	margin-left: 7px;
}

.party {
	color: #1E6454;
	background-color: #7DCCBA;
	margin-left: 20px;
	-webkit-transition: all 0.2s ease;
	   -moz-transition: all 0.2s ease;
	    -ms-transition: all 0.2s ease;
	     -o-transition: all 0.2s ease;
	        transition: all 0.2s ease;
}

.party:hover {
	background-color: #74C5B3;
}


/*——— VIDEO ———*/



.video {
	background-color: #fff;
	margin-right: 0px;
	float: left;
}

.text h2 {
	margin: 0;
	margin-bottom: 4px;
	padding: 0;
	color: #B98D14;
	font-size: 18px;
}

.text {
	padding: 30px;
	line-height: 1.3em;
}

.image-thumb {
	margin: 0 25px 25px 25px;
	-webkit-transition: all 0.2s ease;
	   -moz-transition: all 0.2s ease;
	    -ms-transition: all 0.2s ease;
	     -o-transition: all 0.2s ease;
	        transition: all 0.2s ease;
}

.image-thumb:hover {
	/*opacity: 0.95;*/
}

/*——— KEYNOTE ———*/


.keynote {
	background-color: #fff;
	height: 790px;
}

.illustration img {
 	margin: 80px auto 0 auto;
	display: block;
}

.keynote .title {
	width: 300px;
	margin: 0 auto;
	margin-bottom: 20px;
}

.keynote h1 {
	font-weight: bold;
	font-size: 55px;
	line-height: normal;
	color: #B98D14;
	text-align: center;	
	margin: 10px 0 -10px 0;
}

.keynote h2 {
	color: #B98D14;
	text-align: center;	
	font-size: 40px;
	font-weight: lighter;
	margin-bottom: 10px;
}

.keynote p {
	margin: 5px 0 0 0;
	padding: 0 50px;
	color: #92772C;
	text-align: center;
	line-height: 1.4em;
}

.speakers {
	margin: 50px 30px;
}

.name {
	margin-top: 15px;
	text-align: center;
	opacity: .8;
	-webkit-transition: all 0.2s ease;
	   -moz-transition: all 0.2s ease;
	    -ms-transition: all 0.2s ease;
	     -o-transition: all 0.2s ease;
	        transition: all 0.2s ease;
}

.name:hover {
	opacity: 1;
}

.name h2 {
	font-size: 22px;
	margin-bottom: 0px;
}

.name p {
	margin: 0;
	padding: 0;
	font-style: italic;
}

.profile {
	width: 175px;
	margin: 0 40px;
	display: inline-block;
}

.profile img {
	background-size: 100% 100%;
	width: 175px;
	border-radius: 100px;
}

.name a {
	text-decoration: none;
}


/*——— PANEL ———*/


.panel {
	background-color: #D3FFF5;
	padding-top: 56px;
	text-align: center;
	height: 333px;
}

.panel img {
	margin: 30px auto 20px auto;
	display: table-cell;
}

.panel .text {
	padding: 10px 40px 0 40px;
}

.panel p {
	color: #80AAA8;
}

.panel h2 {
	color: #A1CEC8;
}

.panel .text h3 {
	color: #668A88;
	font-size: 18px;
	margin: 20px 0px 2px 0px;
}


/*——— EVENTS / EXTRAS ———*/



.events {
	background-color: #fff;
	position: relative;
	text-align: center;
	padding: 85px 0 40px 0;
}

.events .title {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background-color: #F8EEC6;
	padding: 25px 0;
	text-align: center;
}

.events .title h2 {
	text-transform: uppercase;
	display: inline-block;
	font-size: 16px;
	color: #C2AD78;

}

.events .title p {
	display: inline-block;
	padding-left: 5px;
	color: #B9A861;
}

.hr {
	height: 1px;
	background: #F5F1D9;
	width: 100%;
	font-size: 1px;
	margin-top: 22px;
}

.events h2, .events p, .events h3 {
	color: #B98D14;
} 


.events .text {
	width: 250px;
	margin: 0 auto;
	text-align: center;
}

.event-options {
	margin: 25px 38px;
	width: 210px;
	display: inline-block;
	text-align: center;
	vertical-align: top;
}

.events img {
	background-size: 100% 100%;
	width: 120px;
	background-color: #fff;
	border-radius: 100px;
	margin-bottom: 10px;
}

.events h3 {
	text-align: center;
	font-size: 16px;
	margin: 0 0 5px 0;
	color: #B98D14;
}

.event-options a {
	opacity: 1;
}

.event-options a:hover {
	opacity: 0.8;
}


/*——— WORKSHOPS ———*/



.workshop h2, .workshop p, .workshop h3 {
	color: #749B9B;
} 

.workshop {
	background-color: #EDFDFA;

}

.workshop img {
	background-size: 100% 100%;
	width: 150px;
	height: 150px;
	background-color: #fff;
	border-radius: 100px;
	margin-bottom: 10px;
}

.workshop h3 {
	text-align: center;
	font-size: 14px;
	margin: 0;
}

.workshop .text {
	width: 460px;
	text-align: center;
	margin: 10px auto 0 auto;
	padding-bottom: 30px;
}

.workshop .options {
	margin: 0 45px;
	margin-bottom: 45px;
}

.workshops {
	margin: 20px 45px;
	width: 150px;
	display: inline-block;
	text-align: center;
}


/*——— VENUE ———*/



.venue {
	height: 480px;
	background-color: #fff;
	-webkit-filter: grayscale(1);
	-webkit-transition: all 0.3s ease;
	   -moz-transition: all 0.3s ease;
	    -ms-transition: all 0.3s ease;
	     -o-transition: all 0.3s ease;
	        transition: all 0.3s ease;
}

.huguenot {
	height: 405px;
	background: url(../images/footerimage3.jpg) #fff no-repeat;
	text-align: left;
	color: #000;
	font-size: 10px;
	font-weight: lighter;
	box-shadow: inset 0px -9px 3px -9px rgba(0,0,0,0.3s);
}

.venue:hover {
	-webkit-filter: grayscale(0.5);
}

.address {
	width: 360px;
	background-color: #fff;
	/*opacity: 0.7;*/
	-webkit-transition: all 0.3s ease;
	   -moz-transition: all 0.3s ease;
	    -ms-transition: all 0.3s ease;
	     -o-transition: all 0.3s ease;
	        transition: all 0.3s ease;
}

.link {
	display: inline-block;
	color: #B98D14;
	margin: 20px;
	text-decoration: none;
	width: 230px;
}

.link p {
	font-size: 16px; 
}

.link span {
	font-size: 12px;
	font-style: italic;
	color: #B8B48E;
}

.address img {
	border-radius: 40px;
	margin: 14px;
	float: right;
	opacity: 0.5;
}

.address:hover {
	/*opacity: 1;*/
	background-color: #FDFAE8;
}

.venue h2 {
	text-align: center;
	vertical-align: middle;
}

.newsletter {
	height: 138px;
	background-color: #fff;
}

.newsletter form {
	margin: 20px;
}

.newsletter .email {
	width: 185px;
	height: 18px;
	padding: 12px;
	border-radius: 3px;
	background-color: #f3f1e5;
	border: none;
	color: #817454;
	font-family: "HelveticaNeue-Light";
	font-size: 16px;
	float: left;
	-webkit-transition: all 0.2s ease;
	   -moz-transition: all 0.2s ease;
	    -ms-transition: all 0.2s ease;
	     -o-transition: all 0.2s ease;
	        transition: all 0.2s ease;
}

.newsletter .email:focus, .newsletter .email:active, .newsletter .email:hover {
	background-color: #ECEADD;
}

.newsletter .button {
	outline: none;
	width: 100px;
	height: 42px;
	border-radius: 3px;
	background-color: #ecd05d;
	border: none;
	color: #927d19;
	font-family: "Helvetica", sans-serif;
	text-transform: uppercase;
	font-size: 13px;
	float: left;
	margin-left: 10px;
	padding: 0;
	margin-top: 0;
	-webkit-transition: all 0.2s ease;
	   -moz-transition: all 0.2s ease;
	    -ms-transition: all 0.2s ease;
	     -o-transition: all 0.2s ease;
	        transition: all 0.2s ease;
}

.newsletter .button:hover, .newsletter .button:focus {
	background-color: #E6CB5D;
	outline: none;
	border: 0;
}

.newsletter p {
	color: #b7b18b;
	font-family: "Helvetica";
	font-size: 14px;
	margin-bottom: 18px;
	line-height: 1.3em;
}


/*——— CRAFT PARTY PAGE ———*/



.craft-header {
	background: url(../images/TBCPE-header2.jpg) #fff no-repeat 0 -87px;
	width: 100%;
	height: 310px;
	display: inline-block;
	box-shadow: 0 0 5px rgba(106, 34, 14, 0.29);
	margin: 0px 0 10px 0;
	position: relative;
}

.craft-header h1 {
	font-size: 50px;
	line-height: 1.2em;
	padding: 65px;
	padding-top: 56px;
	margin: 0;
	width: 31%;
	color: #FFFFFF;
	display: inline-block;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: lighter;
}

.craft-button {
	font-family: "brandon-grotesque",sans-serif;
	font-style: normal;
	font-weight: 700;
	font-weight: bold;
	font-style: uppercase;
	display: inline-block;
	padding: 20px 40px;
	border-radius: 5px;
	text-decoration: none;
	color: #1E6454;
	background-color: #7DCCBA;
	position: absolute;
	bottom: 50px;
	right: 50px;
	-webkit-transition: all 0.2s ease;
	   -moz-transition: all 0.2s ease;
	    -ms-transition: all 0.2s ease;
	     -o-transition: all 0.2s ease;
	        transition: all 0.2s ease;
}

.craft-button:hover {
	background-color: #74C5B3;
}


/*——— SLIDESHOW ———*/



.slideshow {
	height: 432px;
	display: inline-block;
	position:relative; 
	background-color: #fff;
}

.caption {
	padding: 25px 38px;
	text-align: center;
}

.fadein { 
	width:360px; 
	height:360px; 
}

.fadein img { 
	-webkit-filter: grayscale(1);
	position:absolute; 
	left:0; 
	top:0; 
}

.fadein img:hover {
	-webkit-filter: grayscale(0.5);
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	     -o-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
}

.about .intro {
	color: #4FC0A6;
	font-size: 21px;
	line-height: 1.4em;
	padding: 65px;
	font-weight: normal;
}

.about .intro a {
	text-decoration: none;
	color: #12705A;
}

.about .intro p {
	color: #4FC0A6;
	font-size: 16px;
	line-height: 1.5em;
	margin-top: 11px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.about {
	background-color: #fff;
	display: inline-block;
}

.about .illustration img {
 	margin: 100px auto 0 auto;
	display: block;
}

.about .title {
	width: 300px;
	margin: 0 auto;
	margin-bottom: 20px;
}

.about h1 {
	color: #4F8A7C;
	font-weight: bold;
	font-size: 30px;
	line-height: normal;
	margin-bottom: 5px;
	margin: 0;
}

.about h2 {
	font-size: 14px;
	color: #4F8A7C;
	font-weight: lighter;
	margin-bottom: 10px;
	text-transform: uppercase;
	margin-top: -12px;
}

.about p {
	margin: 5px 0 0 0;
	line-height: 1.4em;
}


/*——— SCHEDULE PAGE ———*/



.schedule-header {
	background: url(../images/schedule3.jpg) #fff no-repeat;
	background-color: #fff;
	width: 100%;
	height: 300px;
	text-align: center;
	display: inline-block;
	box-shadow: 0 0 5px rgba(106, 34, 14, 0.29);
	margin: 0px 0 10px 0;
	margin-bottom: 250px;
	position: relative;
}

.schedule-header h1 {
	padding: 100px 0;
	color: #242003;
}



/*——— STRUCTURE ———*/



.full{
	width: 100%;
}

.left {
	float: left;
}

.right{
	float: right;
}

.one {
	width: 37.5%;
}

.two {
	width: 60.4%;
}

.three {
	width: 100%;
}

.box-spacing {
	margin: 10px 0 10px 0;
}

.box {
	display: inline-block;
	box-shadow: 0 0 5px rgba(106, 34, 14, 0.29);
}

.height {
	height: 200px;
}


/*——— BOTTOM ———*/


.sponsors a {
	opacity: 1;
}

.sponsors {
	margin-top: 20px;
	text-align: center;
}

.sponsors img {
	margin: 0 48px;
	vertical-align: middle;
	opacity: .8;
	-webkit-transition: all 0.2s ease;
	   -moz-transition: all 0.2s ease;
	    -ms-transition: all 0.2s ease;
	     -o-transition: all 0.2s ease;
	        transition: all 0.2s ease;
}

.sponsors img:hover {
	opacity: 1;
}

.bottom {
	height: 160px;
	width: 100%;
	margin: 40px 0 0px 0;
	position: relative;
}

.bottom img {
	display: inline-block;
	position: absolute;
	bottom: 0;
	left: -3px;
}

.bottom a {
	opacity: 1;
	text-decoration: none;
	display: inline-block;
	color: #fff;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.bottom a:hover {
	opacity: 0.7; 
}

.bottom .contact {
	display: inline-block;
	margin-left: 350px; 
	color: #E6CB5D;
}

footer {
	bottom: 30px;
	background-color: #fff;
	height: 30px;
	margin: 0;
}

footer p {
	padding-top: 7px;
	font-size: 12px;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

/*——— FIN ———*/

